<div class="loginbody">
  <nav>
  <ul id="navhover">
   
    <li> <button><a href="/">Home</a></li></button>
     <li> <button><a href="/#about">About Us</a></button></li>
    <li> <button><a href="/#contact">Contact Us</a></button></li>
    {{!-- <li><button><a href="/login">Login</a></li></button> --}}
    <li><button><a href="/signup">Register</a></li></button>
  </ul>
</nav>
<div class="loginposition">


<div class="login">

<h2><span class="babyblue">Login</span></h2>
<form action="/login" method="POST">
  <div>
    <label for="username"><span class="white"></span></label>
    <input type="text" name="username" placeholder="Username">
  </div>
  <br>
  <div>
    <label for="password"><span class="white"></span></label>
    <input type="password" name="password" placeholder="Password">
  </div>
  {{#if message}}
    <div class="error-message"><span class="white">{{ message }}</span>{ message }}</div>
  {{/if}}
  <br>
  <div>
    <input type="submit" value="Log In" class="loginbutton">
  </div>
    <p class="account-message">
    <span class="white">Don't have an account? </span>
    <a href="/signup"><span class="babyblue">Sign Up</span></a>
  </p>
</form>
</div>
</div>
</div>