<nav>
  <ul id="navhover">
    <li><span class="white" id="welcome">Welcome, {{user.username}}!</span></li>
    <li> <button><a href="/">Home</a></li></button>
    <li><button><a href="/">Dog Listings</a></li></button>
    <li><button><a href="/logout">Log Out</a></li></button>
  </ul>
</nav>
<header class="headerprofile">
  <h1><span class="babyblue">Bio:</span></</h1>

  <h2>{{user.bio}}</h2>

  
  <div class="editbutton">
    <button onclick="window.location.href='/profile/edit/{{user._id}}'">Edit</button>
  </div>
</header>



