<nav>
  <ul id="navhover">
    <li><span class="white" id="welcome">Welcome, <span class="babyblue">{{user.username}}</span></span></li>
    <li> <button><a href="/">Home</a></li></button>
    <li><button><a href="/dogs">Dog Listings</a></li></button>
    <li><button><a href="/logout">Log Out</a></li></button>
  </ul>
</nav>
<header class="headerprofile">
 
  <h1><span class="babyblue">Bio:</span></</h1>

  <h2>{{user.bio}}</h2>

  {{#if OWNER}}
  <div class="editbutton">
    <button onclick="window.location.href='/profile/edit/{{user._id}}'">Edit</button>
  </div>
  {{/if}}

</header>
<section class="dogs">
  <h1 class="dogstitle"><span class="white">Dog's</span> Owned:</h1>

  {{#if OWNER}}
  <button onclick="window.location.href='/dogs/new/'">Add Dog</button>
  {{/if}}




</section>



