<form action="/dogs/create" method="post">

  <p>Name</p>
  <input type="text" name="theName">

 <p>Breed</p>
 <input type="text" name="theBreed">

 <p>Age</p>
 <input type="text" name="theAge">

 {{!-- <p>Owner</p>
 <input type="text" name="theOwner"> --}}

 <input type="submit" value="Submit Dog">
</form>