<div class="addbody">
  <div class="addnewdogposition">

  <div class="addnewdog">

<h1 class="babyblue">Add New Dog</h1>
<form action="/dogs/create" method="post" enctype="multipart/form-data">
<h2>Upload a new Profile Picture</h2>
  


    <label>Profile photo</label>
    <input type="file" name="photo">

    


  <p>Name</p>
  <input type="text" name="theName">

 <p>Breed</p>
 <input type="text" name="theBreed">

 <p>Age</p>
 <input type="text" name="theAge">

 {{!-- <p>Owner</p>
 <input type="text" name="theOwner"> --}}
<br><br><br>
 <button type="submit" value="Submit Dog">Add</button> 
</form>
  </div>
</div>
  </div>